body{
	margin:0;
	padding:0;
	text-align:center;
	background:#ccc;
	line-height:1.7em;
}

.practise{
	background:#272822;
	min-height:400px;
	margin:0 auto;
	border-top:5px solid red;
	border-bottom:5px solid red;
	color:#CE3E12;
	font-size:24px;
	padding-top:50px;
	padding-bottom:50px;
}
input{
	padding:15px;
	margin:10px;
	border-radius:8px;
	font-size:18px;
	text-align:center;
}

.btn{
	padding:10px 60px 10px 60px;
	font-size:24px;
	text-transform:uppercase;
	cursor:pointer;
	background:#159F5C;
}

select{
	font-size:20px;
	padding:5px 15px 5px 15px;
	margin-bottom:20px;
}

